@import "/src/styles/variables.scss";

.thum-img {
  background-color: white;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
