@import "/src/styles/variables.scss";

.thumbnail {
  .thum-frame {
    margin: 12px;
    border-bottom: 1px solid black;

    h2 {
      color: black;
      margin-top: 12px;
    }
    p {
      color: black;
    }
  }
}
