@import "../../styles/variables.scss";

.thumbnail {
  .thum-frame {
    margin: 12px;
    border-bottom: 1px solid black;
  }
  .thum-img {
    background-color: white;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 140px;
  }
  h2,
  p {
    color: black;
  }
}
