@import "/src/styles/variables.scss";

.top {
  position: relative;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #e0dfdf;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 0.7;
  z-index: 100000;

  .link {
    display: inline-block;
    font-size: 40px;
    padding-top: 8px;
    color: black;
    opacity: 0.7;
    margin-left: 20px;
    font-family: "Catamaran";
    font-weight: 800;
  }
}
