@import "/src/styles/variables.scss";
@import "/src/styles/light-theme.scss";
@import "/src/styles/dark-theme.scss";

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: $light-background-color;
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s, color 0.3s;
}
